Flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
google-genai
scikit-learn==1.5.1
xgboost==2.1.1
wheel
setuptools
python-dotenv
mysql-connector-python
pyJWT
emoji==2.3.0
subprocess