<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <div class="main-container">
        <h2>Prijava</h2>
        <div class="login_wrapper">

            <div id="error" class="error-msg" style="display: none;">Napačno uporabniško ime ali geslo!</div>

            <label for="username">Uporabniško ime</label>
            <input type="text" id="username" placeholder="Vnesi '1'">

            <label for="password">Geslo</label>
            <input type="password" id="password" placeholder="Vnesi '1'">

            <button onclick="checkLogin()">Prijavi se</button>
        </div>
    </div>

    <script>
        function checkLogin() {
            const user = document.getElementById('username').value;
            const pass = document.getElementById('password').value;
            const error = document.getElementById('error');

            if (user === "1" && pass === "1") {
                window.location.href = "index.html";
            } else {
                error.style.display = "block";
            }
        }
    </script>
</body>

</html>